{% extends "base.html" %} {% block title %}Net Sports{% endblock %} 
{% block content %}
<div class="row">
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-header">Courts
        <div class="card-action">
          <div class="dropdown">
            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Create Match</a>
              <a class="dropdown-item" href="javascript:void();">Create Event</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('views.create_court') }}">Add Court</a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-borderless">
            <thead>
            <tr>
              <th colspan="2" style="text-align:center">Court</th>
              <th>Next Game</th>
              <th>H. Today</th>
              <th>H. Tomorrow</th>
              <th>Avr. Occupation</th>
            </tr>
            </thead>
            <tbody>
              {% for court in club.courts %}
              <!-- <tr data-href="playerBio.php?playerId=<?php echo $data['pl_id']; ?>"> -->
              <tr>                      
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">
                  <img src="{{ url_for('views.display_court_image', courtID=court.id ) }}" class="rounded-circle" width="100" height="100" object-fit="cover" alt="product img">
                </td>
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">{{ court.court_name }}</td>
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">{{ nextGame(court.id) }}</td>
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">{{ hoursToday(court.id) }}</td>
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">{{ hoursTomorrow(court.id) }}</td>
                <td onclick="window.location.href='{{ url_for('views.court_detail', courtID=court.id) }}';">
                  <div class="progress shadow" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ averageCourtOccupation(court.id) }}%">
                    </div>
                  </div>
                </td>
                <td>
                  <button type="button" class="close" onClick="deleteCourt({{ court.id }})">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
 </div><!--End Row-->
{% endblock %}