{% extends "base.html" %} {% block title %}Net Sports{% endblock %} 
{% block content %}
<h1 align="center">Enrolled Games</h1>
<h1 align="center">Open Games</h1>
<div class="table-responsive">
  <table class="table align-items-center table-flush table-borderless">
      <thead>
      <tr>
      <th>ID</th>
      <th>Club</th>
      <th>Court</th>
      <th>Date Time</th>
      <th>Players</th>
      <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for match in matches %}
      <!-- <tr onclick="window.location.href='{{ url_for('views.match_detail', matchID=match) }}';"> -->
      <tr>
          <td>{{ match.id }}</td>
          <td>{{ getClubNameFromCourt(match.court_id) }}</td>
          <td>{{ getCourtNameFromCourtID(match.court_id) }}</td>
          <td>{{ match.date_match }}</td>
          <td>{{ match.num_player_enrolled }} / {{ match.num_player_total }}</td>                      
          <td>{{ match.match_status }}</td>  
      </tr>
      {% endfor %}
      </tbody>
  </table>
  </div>
{% endblock %}