{% extends "base.html" %} {% block title %}Net Sports{% endblock %} 
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="row">
<div class="col-12 col-lg-12">
    
    <div class="card">
    <div class="card-header">Players in Match
        <div class="card-action">
        <div class="dropdown">
            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
            <i class="icon-options"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="">Delete Match</a>
            <a class="dropdown-item" href="">Cancel Match</a>
            <a class="dropdown-item" href="">Send Notification</a>
            </div>
        </div>
        </div>
        <hr>
        <form method="POST">
            {% if playersRegistered %}
                {% set ns = namespace(players=0) %}
                {% set i = 0 %}
                {% for pr in playersRegistered %}
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <!-- <label for="form_name">Name</label> -->
                                <input 
                                    id="player_name{{ns.players}}" 
                                    type="text" 
                                    name="player_name{{ns.players}}" 
                                    class="form-control" 
                                    placeholder="Player Name" 
                                    value = "{{ pr.first_name }}" 
                                    onChange="changePlayerName{{ns.players}}()">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <!-- <label for="form_email">Contact</label> -->
                                <input 
                                    id="player_contact{{ns.players}}" 
                                    type="tel" 
                                    name="player_contact{{ns.players}}" 
                                    class="form-control" 
                                    value = "{{ pr.mobileNumber }}" 
                                    placeholder="Player Contact">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <input 
                                    id="player_id{{ns.players}}" 
                                    type="hidden" 
                                    name="player_id{{ns.players}}"
                                    value = "{{ pr.id }}"  
                                    class="form-control" 
                                    readonly>
                            </div>
                            <!-- Name from id -->
                            <div class="form-group">
                                <input 
                                    id="p_id_nm{{ns.players}}" 
                                    type="hidden" 
                                    name="p_id_nm{{ns.players}}"
                                    value = "{{ pr.first_name }}"  
                                    class="form-control" 
                                    readonly>
                            </div>
                            <!-- Mobile from id -->
                            <div class="form-group">
                                <input 
                                    id="p_id_mb{{ns.players}}" 
                                    type="hidden" 
                                    name="p_id_mb{{ns.players}}"
                                    value = "{{ pr.mobileNumber }}"  
                                    class="form-control" 
                                    readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% set ns.players = ns.players + 1 %}
                {% endfor %}
                {% set i = ns.players %}
                {% if i < len %}
                    {% set x = i %}
                    {% set i = 0 %}
                    {%for i in range(x, len)%}
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <!-- <label for="form_name">Name</label> -->
                                <input 
                                    id="player_name{{i}}" 
                                    type="text" 
                                    name="player_name{{i}}" 
                                    class="form-control" 
                                    placeholder="Player Name" 
                                    onChange="changePlayerName{{i}}()">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <!-- <label for="form_email">Contact</label> -->
                                <input id="player_contact{{i}}" type="tel" name="player_contact{{i}}" class="form-control" placeholder="Player Contact">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <!-- <label for="form_email">Contact</label> -->
                                <input id="player_id{{i}}" type="hidden" name="player_id{{i}}" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <input id="p_id_nm{{i}}" type="hidden" name="p_id_nm{{i}}" class="form-control" readonly>
                            </div>
                            <div class="form-group">
                                <input id="p_id_mb{{i}}" type="hidden" name="p_id_mb{{i}}" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {%endfor%}
                {% endif%}
            {% else %}
                {%for i in range(0, len)%}
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <!-- <label for="form_name">Name</label> -->
                            <input 
                                id="player_name{{i}}" 
                                type="text" 
                                name="player_name{{i}}" 
                                class="form-control" 
                                placeholder="Player Name" 
                                onChange="changePlayerName{{i}}()">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <!-- <label for="form_email">Contact</label> -->
                            <input id="player_contact{{i}}" type="tel" name="player_contact{{i}}" class="form-control" placeholder="Player Contact">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                            <!-- <label for="form_email">Contact</label> -->
                            <input id="player_id{{i}}" type="hidden" name="player_id{{i}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input id="p_id_nm{{i}}" type="hidden" name="p_id_nm{{i}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input id="p_id_mb{{i}}" type="hidden" name="p_id_mb{{i}}" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <hr>
                {%endfor%} 
            {% endif %}
            <div class="form-group row">
                <!-- <label class="col-lg-3 col-form-label form-control-label"></label> -->
                <div class="col-lg-12">
                    <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            {%for player in players_name%}
            <div>{{ player }}</div>
            {%endfor%} 
            {%for player in players_name_phone%}
            <div>{{ player }}</div>
            {%endfor%} 
            {%for player in all_players_obj%}
            <div>{{ player }}</div>
            {%endfor%} 
        </form>

    </div>
    </div>


    
</div>
</div><!--End Row-->

<script> 
    $( function() { 
      var availablePlayers = [ 
          {% for player in list_players %} 
              "{{player}}", 
          {% endfor %} 
      ]; 
      {%for i in range(0, len)%}
      $( "#player_name{{i}}" ).autocomplete({ 
        source: availablePlayers 
      }); 
      {%endfor%}
    } ); 
</script> 
<script>
    {%for i in range(0, len)%}
    function changePlayerName{{i}}() {
      var playerName = document.getElementById('player_name{{i}}').value
      mobilePhone = ''
      nameFromID = ''
      playerID = 0
      if (playerName != '')
      {
        {% for element in multiarray %} 
            if (playerName.toLowerCase() == "{{element.name}}".toLowerCase()){
                var mobilePhone = "{{element.contact}}";
                var playerID = "{{element.id}}";
                var nameFromID = "{{element.name}}";
            }    
        {% endfor %}
      }  
      document.getElementById('player_contact{{i}}').value = mobilePhone;
      document.getElementById('player_id{{i}}').value = playerID;
      document.getElementById('p_id_nm{{i}}').value = nameFromID;
      document.getElementById('p_id_mb{{i}}').value = mobilePhone;
    }
    changePlayerName{{i}}()
    {%endfor%}
</script>

<!-- Bootstrap core JavaScript-->
<!-- <script src="../static/js/jquery.min.js"></script> -->
<script src="../static/js/popper.min.js"></script>
<!-- <script src="static/js/bootstrap.min.js"></script> -->
<!-- simplebar js -->
<script src="../static/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="../static/js/sidebar-menu.js"></script>
<!-- loader scripts -->
<script src="../static/js/jquery.loading-indicator.js"></script>
<!-- Custom scripts -->
<script src="../static/js/app-script.js"></script>
<!-- Chart js -->
<!-- <script src="static/plugins/Chart.js/Chart.min.js"></script> -->
<!-- Index js -->
<!-- <script src="static/js/index.js"></script> -->
{% endblock %}