{% extends "base.html" %} {% block title %}Net Sports{% endblock %} 
{% block content %}
    <form method="POST">
      <h3 align="center">Create Non Stop</h3>
      <div class="form-group">
        <label for="date_NonStop">NonStop Date</label>
        <input
          type="datetime-local"
          class="form-control"
          id="date_NonStop"
          name="date_NonStop"
          required
        />
      </div>
      <div class="form-group">
        <label for="nonStop_duration">NonStop Duration (Minutes)</label>
        <input
          type="number"
          class="form-control"
          id="nonStop_duration"
          name="nonStop_duration"
          placeholder="90"
          value="90"
          required
          readonly
        />
      </div>
      <div class="form-group">
        <label for="nonStop_warmUp">Warm Up Time (Minutes)</label>
        <input
          type="number"
          class="form-control"
          id="nonStop_warmUp"
          name="nonStop_warmUp"
          placeholder="5"
          value="5"
          required
          readonly
        />
      </div>
      <div class="form-group">
        <label for="nonStop_halftime">HalfTime Time (Minutes)</label>
        <input
          type="number"
          class="form-control"
          id="nonStop_halftime"
          name="nonStop_halftime"
          placeholder="5"
          value="5"
          required
          readonly
        />
      </div>
      <div class="form-group">
        <label for="nonStop_type">Type</label>
        <input
          type="text"
          class="form-control"
          id="nonStop_type"
          name="nonStop_type"
          placeholder="Match or Non-Stop"
          value="Non-Stop"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="num_player_total">Total Number of Players</label>
        <input
          type="number"
          class="form-control"
          id="num_player_total"
          name="num_player_total"
          value="8"
          readonly
        />
      </div>
      <!-- Pane for status -->
      <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
            <li class="nav-item">
                <a href="javascript:void();" data-target="#announced" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Announced</span></a>
            </li>
            <li class="nav-item">
                <a href="javascript:void();" data-target="#accepting" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Accepting Players</span></a>
            </li>
            <li class="nav-item">
              <a href="javascript:void();" data-target="#full" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Full</span></a>
          </li>
        </ul>
        <div class="tab-content p-3">
            <!-- Announced -->
            <div class="tab-pane active" id="announced">
                <h5 class="mb-3">Announced NonStop</h5>
                <form method="POST" enctype="multipart/form-data">
                  <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">When Players Can Register</label>
                      <div class="col-lg-6">
                          <input
                              type="datetime-local"
                              class="form-control"
                              id="date_RegistrationNonStop"
                              name="date_RegistrationNonStop"
                              required
                          />
                      </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Pre-Registered Players</label>
                    <div class="col-lg-9">
                      <div class="form-group">
                        <label for="team_A">Equipa A</label>
                        <div class="form-group row">
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerA1"
                              name="namePlayerA1"
                              placeholder="Nome"
                              required
                            />
                          </div>
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerA2"
                              name="namePlayerA2"
                              placeholder="Nome"
                              required
                            />
                          </div>
                        </div>
                      </div>   
                      
                      <div class="form-group">
                        <label for="team_B">Equipa B</label>
                        <div class="form-group row">
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerB1"
                              name="namePlayerB1"
                              placeholder="Nome"
                              required
                            />
                          </div>
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerB2"
                              name="namePlayerB2"
                              placeholder="Nome"
                              required
                            />
                          </div>
                        </div>
                      </div> 
                      
                      <div class="form-group">
                        <label for="team_C">Equipa C</label>
                        <div class="form-group row">
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerC1"
                              name="namePlayerC1"
                              placeholder="Nome"
                              required
                            />
                          </div>
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerC2"
                              name="namePlayerC2"
                              placeholder="Nome"
                              required
                            />
                          </div>
                        </div>
                      </div> 
                
                      <div class="form-group">
                        <label for="team_D">Equipa D</label>
                        <div class="form-group row">
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerD1"
                              name="namePlayerD1"
                              placeholder="Nome"
                              required
                            />
                          </div>
                          <div class="col-lg-4">
                            <input
                              type="text"
                              class="form-control"
                              id="namePlayerD2"
                              name="namePlayerD2"
                              placeholder="Nome"
                              required
                            />
                          </div>
                        </div>
                      </div> 
                    </div>
                </div>
              </form>
            </div>
            <!-- Accepting -->
            <div class="tab-pane" id="accepting">
              <h5 class="mb-3">Accepting Players</h5>
              <form method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">When Players Can Register</label>
                    <div class="col-lg-6">
                        <input
                            type="datetime-local"
                            class="form-control"
                            id="date_AcceptingRegistrationNonStop"
                            name="date_AcceptingRegistrationNonStop"
                            value="{{ current_timestamp }}"
                            required
                        />
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Pre-Registered Players</label>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label for="team_A">Equipa A</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerA1"
                            name="namePlayerA1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerA2"
                            name="namePlayerA2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div>   
                    
                    <div class="form-group">
                      <label for="team_B">Equipa B</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerB1"
                            name="namePlayerB1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerB2"
                            name="namePlayerB2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
                    
                    <div class="form-group">
                      <label for="team_C">Equipa C</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerC1"
                            name="namePlayerC1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerC2"
                            name="namePlayerC2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
              
                    <div class="form-group">
                      <label for="team_D">Equipa D</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerD1"
                            name="namePlayerD1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerD2"
                            name="namePlayerD2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
                  </div>
              </div>
            </form>
            </div>
            <!-- Full -->
            <div class="tab-pane" id="full">
              <h5 class="mb-3">NonStop Full</h5>
              <form method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Registered Players</label>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <label for="team_A">Equipa A</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerA1"
                            name="namePlayerA1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerA2"
                            name="namePlayerA2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div>   
                    
                    <div class="form-group">
                      <label for="team_B">Equipa B</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerB1"
                            name="namePlayerB1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerB2"
                            name="namePlayerB2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
                    
                    <div class="form-group">
                      <label for="team_C">Equipa C</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerC1"
                            name="namePlayerC1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerC2"
                            name="namePlayerC2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
              
                    <div class="form-group">
                      <label for="team_D">Equipa D</label>
                      <div class="form-group row">
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerD1"
                            name="namePlayerD1"
                            placeholder="Nome"
                            required
                          />
                        </div>
                        <div class="col-lg-4">
                          <input
                            type="text"
                            class="form-control"
                            id="namePlayerD2"
                            name="namePlayerD2"
                            placeholder="Nome"
                            required
                          />
                        </div>
                      </div>
                    </div> 
                  </div>
              </div>
            </form>
          </div>
        </div>
    </div>
    </div>

      
      <br />
      <button type="submit" class="btn btn-primary">Create NonStop</button>
    </form>
{% endblock %}