{% extends "base.html" %} {% block title %}Net Sports{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center">User Information</h3>

      <!-- Login Information -->
      <div class="form-group">
        <label for="first_name">Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="{{ user.first_name }}"
          value="{{ user.first_name }}"
          readonly 
        />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="{{ user.email }}"
          value="{{ user.email }}"
          readonly 
        />
      </div>
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input
          type="tel"
          class="form-control"
          id="mobileNumber"
          name="mobileNumber"
          pattern="[0-9]{9}"
          placeholder="{{ user.mobileNumber }}"
          value="{{ user.mobileNumber }}"
          readonly 
        />
      </div>

      <!-- Location -->
      <div class="form-group">
        <label for="postal_code">Postal Code</label>
        <input
          type="text"
          class="form-control"
          id="postal_code"
          name="postal_code"
          placeholder="{% if user.postal_code != null %}{{ user.postal_code }}{% else %}0000-000{% endif %}"
          pattern="^\d{4}-\d{3}?$"  
          value="{% if user.postal_code != null %}{{ user.postal_code }}{% else %}0000-000{% endif %}"
          required
        />
      </div>

      <!-- Personal info -->
      <div class="form-group">
        <label for="birth_date">Birth Date</label>
        <input
          type="date"
          class="form-control"
          id="birth_date"
          name="birth_date"
          value="{% if user.birth_date != null %}{{ user.birth_date }}{% else %}{% endif %}"
        />
      </div>

      <!-- Types of notifications -->
      <div class="form-group form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          id="email_notification"
          name="email_notification"
          {% if user.email_notification == True %}checked{% else %}{% endif %}
        >
        <label class="form-check-label" for="email_notification">Email Notification</label>
      </div>
      <div class="form-group form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          id="sms_notification"
          name="sms_notification"
          {% if user.sms_notification == True %}checked{% else %}{% endif %}
        >
        <label class="form-check-label" for="sms_notification">SMS Notification</label>
      </div>
      <div class="form-group form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          id="app_notification"
          name="app_notification"
          {% if user.app_notification == True %}checked{% else %}{% endif %}
        >
        <label class="form-check-label" for="app_notification">App Notification</label>
      </div>
      <div class="form-group form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          id="wts_notification"
          name="wts_notification"
          {% if user.wts_notification == True %}checked{% else %}{% endif %}
        >
        <label class="form-check-label" for="wts_notification">Whatsapp Notification</label>
      </div>

      <!-- Days of week notifications -->
      <div class="form-group">
        <label for="mon_notification">Monday Notifications</label>
        <select id="mon_notification" name="mon_notification" class="form-control form-select">
          <option value="0" {% if user.mon_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.mon_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.mon_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.mon_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.mon_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tue_notification">Tuesday Notifications</label>
        <select id="tue_notification" name="tue_notification" class="form-control form-select">
          <option value="0" {% if user.tue_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.tue_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.tue_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.tue_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.tue_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="wed_notification">Wednesday Notifications</label>
        <select id="wed_notification" name="wed_notification" class="form-control form-select">
          <option value="0" {% if user.wed_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.wed_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.wed_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.wed_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.wed_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="thu_notification">Thursday Notifications</label>
        <select id="thu_notification" name="thu_notification" class="form-control form-select">
          <option value="0" {% if user.thu_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.thu_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.thu_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.thu_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.thu_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fri_notification">Friday Notifications</label>
        <select id="fri_notification" name="fri_notification" class="form-control form-select">
          <option value="0" {% if user.fri_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.fri_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.fri_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.fri_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.fri_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sat_notification">Saturday Notifications</label>
        <select id="sat_notification" name="sat_notification" class="form-control form-select">
          <option value="0" {% if user.sat_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.sat_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.sat_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.sat_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.sat_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sun_notification">Sunday Notifications</label>
        <select id="sun_notification" name="sun_notification" class="form-control form-select">
          <option value="0" {% if user.sun_notification == 0 %}selected{% else %}{% endif %}>No Notifications</option>
          <option value="1" {% if user.sun_notification == 1 %}selected{% else %}{% endif %}>Morning 09:00 to 12:00</option>
          <option value="2" {% if user.sun_notification == 2 %}selected{% else %}{% endif %}>Afternoon 12:00 to 18:00</option>
          <option value="3" {% if user.sun_notification == 3 %}selected{% else %}{% endif %}>Evening 18:00 to 23:00</option>
          <option value="4" {% if user.sun_notification == 4 %}selected{% else %}{% endif %}>All Day 09:00 to 23:00</option>
        </select>
      </div>

      <!-- Category -->
      <div class="form-group">
        <label for="main_category">Main Category</label>
        <select id="main_category" name="main_category" class="form-control form-select">
          <option value="1" {% if user.main_category == 1 %}selected{% else %}{% endif %}>M5</option>
          <option value="2" {% if user.main_category == 2 %}selected{% else %}{% endif %}>M4</option>
          <option value="3" {% if user.main_category == 3 %}selected{% else %}{% endif %}>M3</option>
          <option value="4" {% if user.main_category == 4 %}selected{% else %}{% endif %}>M2</option>
          <option value="5" {% if user.main_category == 5 %}selected{% else %}{% endif %}>M1</option>
          <option value="6" {% if user.main_category == 6 %}selected{% else %}{% endif %}>F5</option>
          <option value="7" {% if user.main_category == 7 %}selected{% else %}{% endif %}>F4</option>
          <option value="8" {% if user.main_category == 8 %}selected{% else %}{% endif %}>F3</option>
          <option value="9" {% if user.main_category == 9 %}selected{% else %}{% endif %}>F2</option>
          <option value="10" {% if user.main_category == 10 %}selected{% else %}{% endif %}>F1</option>
        </select>
      </div>
      <div class="form-group">
        <label for="mix_category">Mix Category</label>
        <select id="mix_category" name="mix_category" class="form-control form-select">
          <option value="1" {% if user.mix_category == 1 %}selected{% else %}{% endif %}>MX5</option>
          <option value="2" {% if user.mix_category == 2 %}selected{% else %}{% endif %}>MX4</option>
          <option value="3" {% if user.mix_category == 3 %}selected{% else %}{% endif %}>MX3</option>
          <option value="4" {% if user.mix_category == 4 %}selected{% else %}{% endif %}>MX2</option>
          <option value="5" {% if user.mix_category == 5 %}selected{% else %}{% endif %}>MX1</option>
        </select>
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}